---
layout: default
title: Posts
permalink: /posts/
---

<div class="center">
  <h1>
    Blog Posts
    <br/>
    <a href="/feed/blog.xml"><i class="svg-icon rss"></i></a>
  </h1>
  <div>
    short essays about whatever interests me
  </div>
</div>
<br/>
<hr/>

<div class="center">
  <h1>Critical Theory</h1>
</div>
{% assign posts = site.posts | where: "category", "art" %}
{% include posts.html posts=posts %}
<hr/>

<div class="center">
  <a href="/mtg" class="hover">
    <h1>Magic: the Gathering</h1>
  </a>
</div>
{% assign posts_mtg = site.posts | where: "category", "mtg" %}
{% include posts.html posts=posts_mtg %}
