---
layout: default
title: Videos
permalink: /video/
---
<style>
  #main.container {
    /* overriding default.html */
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  #filter {
    font-size: 30px;
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
  }

  .container-videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .chunk {
    width: 25vw;
    height: 12.5vw;
    font-size: 1vw;

    padding: 5px;
    box-sizing: border-box;
  }
  .thumbnail {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;

    box-sizing: border-box;
    border-radius: 5px;
  }
  .video-details {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.7);

    border-radius: 5px;

    /*opacity: 0;*/
    /*temp for offline testing*/
    opacity: 1;
  }
  .video-details > div {
    width: 100%;
  }
  .video-details a {
    color: white;
    text-decoration: underline;
  }
  .video-title {
    font-size: 1.2em;
  }
  .thumbnail:hover > .video-details {
    opacity: 1;
  }

  .filtered {
    display: none;
  }

  @media (max-width: 1400px) {
    .chunk {
      width: 33vw;
      height: 16.5vw;
      font-size: 2vw;
    }
  }
  @media (max-width: 800px) {
    .chunk {
      width: 50vw;
      height: 25vw;
      font-size: 3vw;
    }
  }
  @media (max-width: 600px) {
    .chunk {
      width: 100vw;
      height: 50vw;
      font-size: 4vw;
    }
  }
</style>

<!--https://www.youtube.com/oembed?url={url}&format=json-->

<h1 class="center">
  Videos
</h1>

<p class="center">
  <input type="text" id="filter" placeholder="filter by title, author, or tag" />
</p>

{% assign videos = site.data.video %}
<div class="container-videos">
  {% for video in videos %}
    <div class="chunk" id="{{video.vid}}">
      <div class="thumbnail" style="background-image: url(https://i.ytimg.com/vi/{{video.vid}}/hqdefault.jpg);">
        <div class="video-details">
          <div>
            {% if video.channel %}
              <div class="video-channel">{{video.channel}}</div>
            {% endif %}
            <div class="video-title">
              <a target="_blank" href="https://youtube.com/watch?v={{video.vid}}">
                {{video.title}}
              </a>
            </div>
          </div>
          {% if video.timestamps %}
            <div class="video-timestamps">
              jump to:
              {% for stamp in video.timestamps %}
                <a target="_blank" href="https://youtube.com/watch?v={{video.vid}}&t={{stamp}}">
                  {{stamp}}
                </a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script>

const hiddenClass = 'filtered';
const videos = {{ site.data | jsonify }}.video;
const videoMeta = videos.map(video => ({
  elm: document.getElementById(video.vid),
  info: [video.title, video.channel || ''].join(' ').toLowerCase(),
}));

const searchElm = document.getElementById('filter');
searchElm.addEventListener('input', () => {
  const query = searchElm.value.toLowerCase();
  if (query.length === 0){
    // reveal everything
    videoMeta.forEach(vm => vm.elm.classList.remove(hiddenClass));
  } else {
    const queryParts = query.split(' ').map(p => p.trim());
    videoMeta.forEach(vm => {
      // if it overlaps each query term: show. else: hide
      const match = queryParts.every(qp => vm.info.includes(qp));
      if (match){
        vm.elm.classList.remove(hiddenClass);
      } else {
        vm.elm.classList.add(hiddenClass);
      }
    });
  }
});

</script>
