
{% for link in include.links %}
  <div class="manga-item">
    {% if link.author %}
      <span> {{link.author}} - </span>
    {% endif %}
    {% if link.mal %}
      <a href="https://myanimelist.net/manga/{{link.mal}}/" target="_blank">{{link.title}}</a>
    {% elsif link.youtube %}
      <a href="https://youtu.be/{{link.youtube}}" target="_blank">{{link.title}}</a>
    {% elsif link.s3 %}
      <a href="/clip?title={{link.title}}&s3={{link.s3}}" target="_blank">{{link.title}}</a>
    {% elsif link.url %}
      <a href="{{link.url}}" target="_blank">{{link.title}}</a>
    {% else %}
      <span> {{link.title}} </span>
    {% endif %}
    {% if link.image %}
      <img class="manga-img" src="/images/conventions/{{include.convention}}/{{link.image}}" />
    {% endif %}
  </div>
  <div>
  {% if link.buffer %}
    <br/>
  {% endif %}
  </div>
{% endfor %}
