
<div class="posts">
  {% for post in include.panels %}
    <div class="convention-post">

      <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="convention-list-title">{{ post.title }}</div>
      </a>
      {% if include.convention %}
        <div class="convention-list-subtitle">{{ post.convention }}</div>
      {% endif %}
      {% if include.location %}
        <div class="convention-list-subtitle">{{ post.location }}</div>
      {% endif %}

    </div>
  {% endfor %}
  {% if include.panels == empty %}
    <p>
      Coming soon...
    </p>
  {% endif %}
</div>
