---
layout: default
---

<style>
  table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #000000;
  }
  th,
  td {
    min-width: 50px;
    padding: 5px;
    border: 1px solid #000000;
  }
  card-image {
  }
</style>
<script src="https://magicautocard.info/dist/autocard.js"></script>

<article class="post">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
